/* ==========================================================================
 * _editor.css
 * 
 * CSS for the "Style Editor" modal (StyleEditorModal), which provides
 * individual property customization, color definitions, shapes, and previews.
 * ========================================================================== */

/* Remove borders between setting items inside editor modal */
.modal-content.csi-editor-modal .setting-item,
.modal-content.csi-editor-modal .setting-item+.setting-item,
.modal-content.csi-editor-modal .setting-item:not(:first-child) {
    border: none;
    border-top: none;
}

.modal-content.csi-editor-modal .setting-item-name {
    font-weight: normal;
    font-size: var(--font-ui-small);
    color: var(--text-normal);
}
