/* ==========================================================================
 * _editor.css
 * 
 * Agrupa o layout complexo da tela "Style Editor Modal", onde ocorre de fato
 * a customização individual de propriedades, definição de cores, formas e pré-visualização.
 * ========================================================================== */

/* Remove borders between setting items inside editor modal */
.modal-content.csi-editor-modal .setting-item,
.modal-content.csi-editor-modal .setting-item+.setting-item,
.modal-content.csi-editor-modal .setting-item:not(:first-child) {
    border: none;
    border-top: none;
}

.modal-content.csi-editor-modal .setting-item-name {
    font-weight: normal;
    font-size: var(--font-ui-small);
    color: var(--text-normal);
}
